<p [hidden]="!someError" style="color: red;">{{errorText}}</p>
<p [hidden]="!added" style="color: green;">{{addedText}}</p>

<div class="card">

        <p-table [value]="containers" dataKey="container_id" editMode="row" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th style="width:8rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="product">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.container_name">
                            </ng-template>
                            <ng-template pTemplate="output">
                                <a href='{{"/lots/" + lot_id + "/" + batch_id + "/" + product.container_id}}'>{{product.container_name}}</a>
                                <!-- {{product.batch_name}} -->
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.comment">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.comment}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align:center">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <h2>Yangi Container kiritish</h2>
        <div class="grid">


            <div class="col-offset-0" style="padding-left: 10px;">
                <span class="p-float-label">
                    <input [(ngModel)]="new_container" type="text" pInputText>
                    <label for="float-input">Container nomi</label>
                </span>
            </div>
            <div class="col-offset-0" style="padding-left: 10px;">
                <span class="p-float-label">
                    <input [(ngModel)]="new_comment" type="text" pInputText>
                    <label for="float-input">Comment</label>
                </span>
            </div>
            <div class="col-offset-0" style="padding-left: 10px;">
                <button pButton type="button" label="Tasdiqlash" (click)="submitted()"></button>
            </div>
        </div>


    </div>