
<p-toast></p-toast>
<div class="card">
    <h2>Defekt turlari</h2>
    <p [hidden]="!someError" style="margin-left: 20px; color: red;">{{errorText}}</p>
    <p-table [value]="remontTypesAll" dataKey="id" editMode="row" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Line</th>
                <th>Name</th>
                <th style="width:8rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="product">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="lines" [(ngModel)]="lines" [style]="{'width':'100%'}"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product.name}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product.name" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product.defect_name}}
                        </ng-template>
                    </p-cellEditor>
                </td>


                <td style="text-align:center">
                    <button pButton pRipple type="button" icon="pi pi-trash" (click)="deleteDefect(product)" class="p-button-rounded p-button-text"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div>
    <h2>Defekt kiritish</h2>
        <p [hidden]="!someError" style="margin-left: 20px; color: red;">{{errorText}}</p>
    <div class="card">
        <div class="flex align-items-stretch flex-wrap card-container">
            <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                <p-dropdown [options]="lines" [(ngModel)]="selectedLine" optionLabel="name"></p-dropdown>
            </div>
            <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                <input type="text" pInputText [(ngModel)]="defName" class="p-inputtext-sm"  placeholder="Defekt nomi"> 
            </div>
            <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                <button pButton pRipple type="button" label="Kiritish" class="p-button-rounded" (click)="defKiritish()" ></button>
            </div>
        </div>
    </div>

</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>