<html lang="uz">
    <head>
        <link rel="stylesheet" href="">
        <style>   
            
        </style>
    </head>
    <body>
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table" style="display: block; width: 100%;" >
                        <div class="row header" style="background-color: #fff; display: block; width: 100%; border-bottom: 1px solid #000;">
                            <div class="cell">
                                Foydalanuvchi
                            </div>

                            <div class="cell">
                                Amal
                            </div>

                            <div class="cell">
                                Sana
                            </div>
                        </div>

                        <p class="date" style="
                            display: flex; 
                            align-items: center; 
                            justify-content: center; 
                            width: 100%; 
                            margin-top: 10px; 
                            margin-bottom: 10px; 
                            color: #fff;">
                            <span style="background-color: #f4f4f4; padding: 8px 40px; border-radius: 40px; font-weight: normal; color: #000;">12-11-2023</span>
                        </p>

                        <div class="row" style="display: block; width: 100%; border-bottom: 1px solid #000;" >
                            <div class="cell" data-title="Seriya">
                                5165645
                            </div>
                            <div class="cell" data-title="Model">
                                PRMasasdsada
                            </div>
                            <div class="cell" data-title="Sana">
                                12-11-2023
                            </div>
                        </div>

                        <p class="date">
                            <span style="background-color: #f4f4f4; padding: 8px 40px; border-radius: 40px; font-weight: normal; color: #000;">12-11-2023</span>
                        </p>

                        <div class="row" style="display: block; width: 100%; border-bottom: 1px solid #000;" >
                            <div class="cell" data-title="Seriya">
                                5165645
                            </div>
                            <div class="cell" data-title="Model">
                                PRMasasdsada
                            </div>
                            <div class="cell" data-title="Sana">
                                12-11-2023
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>