<div class="grid">
    <p-table [value]="keys" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Model</th>
                <th>Comment</th>
                <th>Soni</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.comment}}</td>
                <td>{{product.quantity}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>


<div style="padding-top: 20px">
    <p>Modelni tanlang</p>
    <p-dropdown [options]="models" [(ngModel)]="model" optionLabel="comment" optionValue="id"></p-dropdown>
</div>

<div>
    <input hidden="true" type="file" class="file-input"

    (change)="onFileSelected($event)" #fileUpload>

    <div style="padding-top: 20px;" class="file-upload">
        <button pButton type="button" label="Fayl yuklash" (click)="fileUpload.click()" ></button>
        {{fileName || "Fayl yuklanmagan."}}
    </div>
</div>

<p [ngStyle]="{'color': (result?.result != 'ok')?'red':'green'}">{{result?.result}} {{result?.text}}</p>